{% extends 'dashboardbase.html.twig' %}

{% block main_content %}

<div class="box">
    <!-- /.box-header -->
    <div class="box-body">

        <table id="students_table" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="">
        <thead>
        <tr role="row">
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>F. nacimiento</th>
            <th>Email</th>
            <th class="no-sort">Teléfono</th>
            <th class="no-sort"></th>
            <th class="no-sort"></th>
        </tr>
        </thead>
        <tbody>
            {% for student in students %}
            
            <tr role="row">
            <td>{{ student.getName() }}</td>
            <td>{{ student.getSurname() }}</td>
            <td data-order="{{ student.getBirthdate()|date("Ymd") }}">{{ student.getBirthdate()|date("d/m/Y") }}</td>
            <td>{{ student.getEmail() }}</td>
            <td>
                <span class="label label-primary">{{ student.getTelephone() }}</span>
            </td>
            <td align="center">
                <a href="#" title="{$_LANG.Student.list_button_suscriptions}" class="btn-edit btn btn-default btn-xs" role="{$student->id}"> <i class="fa fa-graduation-cap"></i> Matriculaciones </a>
            </td>
            <td align="center">
                <a href="{{ path('student_edit', {id: student.getId() }) }}" title="Editar" class="btn-edit btn btn-primary btn-xs" role="{{ student.getId() }}"> <i class="fa fa-edit"></i> </a>
                <a href="{{ path('student_delete', {id: student.getId() }) }}" title="Borrar" class="btn-delete btn btn-danger btn-xs" role="{{ student.getId() }}"> <i class="fa fa-trash"></i> </a>
            </td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>F. nacimiento</th>
            <th>Email</th>
            <th class="no-sort">Teléfono</th>
            <th class="no-sort"></th>
            <th class="no-sort"></th>
        </tfoot>
      </table>
    </div>
    <!-- /.box-body -->
  </div>
{% endblock %}



{% block javascript %}
<!-- DataTables -->
<script src="{{ asset('/assets/vendor/datatables.net/js/jquery.dataTables.min.js') }}"></script>
<script src="{{ asset('/assets/vendor/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ asset('/assets/vendor/datatables.net-bs/css/dataTables.bootstrap.min.css') }}">

<!-- page script -->
<script>

    $(document).ready(function(){
        $('a.btn-delete').on('click', function(e) {
            e.preventDefault();
            var url = $(this).attr('href');
            $('#modal-warning').modal()
            .on('click', '#btn-delete-confirm', function(e) {
                document.location.href = url;
            });
        });
    });


    $(function () {
        $('#students_table').DataTable({
            select: true,
            ordering: true,
            columnDefs: [ { targets: 'no-sort', orderable: false }],
            language:{
                "url": "{{ asset('/assets/js/datatables/lang/es-ES.json') }}"
            }   
        });
    });

</script>
{% endblock %}