{% extends 'dashboardbase.html.twig' %}

{% block main_content %}

<div class="box">
    <!-- /.box-header -->
    <div class="box-body">

        <table id="data_table" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="">
        <thead>
        <tr role="row">
            <th>Curso</th>
            <th>Semestre</th>
            <th>Código</th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Créditos</th>
            <th></th>
            <th class="no-sort"></th>
        </tr>
        </thead>
        <tbody>
            {% for subject in subjects %}
            
            <tr role="row">
            <td align="center">{{ subject.getCourse() }}º</td>
            <td align="center">{{ subject.getSemester() }}º</td>
            <td>{{ subject.getCode() }}</td>
            <td>{{ subject.getName() }}</td>
            <td>{{ subject.getType() }}</td>
            <td align="center">{{ subject.getCredits() }}</td>
            <td><i ajax_url="{{ path('subject_ajax_change_status', {id: subject.getId()} ) }}" class="toggle-active fa fa-toggle-{% if subject.getIsActive() %}on{% else %}off{% endif %}"></i></td>
            <td align="center">
                <a href="{{ path('subject_edit', {id: subject.getId() }) }}" title="Editar" class="btn-edit btn btn-primary btn-xs" role="{{ subject.getId() }}"> <i class="fa fa-edit"></i> </a>
                <a href="{{ path('subject_delete', {id: subject.getId() }) }}" title="Borrar" class="btn-delete btn btn-danger btn-xs" role="{{ subject.getId() }}"> <i class="fa fa-trash"></i> </a>
            </td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <th>Curso</th>
            <th>Semestre</th>
            <th>Código</th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Créditos</th>
            <th></th>
            <th class="no-sort"></th>
        </tfoot>
      </table>
    </div>
    <!-- /.box-body -->
  </div>

  <div class="modal modal-danger fade" id="modal-warning">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Aviso</h4>
        </div>
        <div class="modal-body">
            <p>Confirme la eliminación de la Asignatura</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-outline" id="btn-delete-confirm">Borrar</button>
        </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
{% endblock %}



{% block javascript %}
<!-- DataTables -->
<script src="{{ asset('/assets/vendor/datatables.net/js/jquery.dataTables.min.js') }}"></script>
<script src="{{ asset('/assets/vendor/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ asset('/assets/vendor/datatables.net-bs/css/dataTables.bootstrap.min.css') }}">

<!-- page script -->
<script>

    $(document).ready(function(){
        $('a.btn-delete').on('click', function(e) {
            e.preventDefault();
            var url = $(this).attr('href');
            $('#modal-warning').modal()
            .on('click', '#btn-delete-confirm', function(e) {
                document.location.href = url;
            });
        });


        //Change subject status function
        $("i.toggle-active").on('click', function(){
            var item_toggle = $(this);
            var url = $(this).attr('ajax_url');
            $.get(url, function(data){

                toastr.options = {
                                    "closeButton": true,
                                    "debug": false,
                                    "newestOnTop": false,
                                    "progressBar": true,
                                    "positionClass": "toast-bottom-full-width",
                                    "preventDuplicates": false,
                                    "showDuration": "300",
                                    "hideDuration": "500",
                                    "timeOut": "3000",
                                    "extendedTimeOut": "1000",
                                    "showEasing": "swing",
                                    "hideEasing": "linear",
                                    "showMethod": "fadeIn",
                                    "hideMethod": "fadeOut"
                                    }

                if(data) 
                {
                    toastr["success"]("Estado cambiado correctamente", "OK");
                    
                    if(item_toggle.hasClass('fa-toggle-on'))
                    {
                        item_toggle.removeClass('fa-toggle-on').addClass('fa-toggle-off').css('color', 'red');
                    } else {
                        item_toggle.removeClass('fa-toggle-off').addClass('fa-toggle-on').css('color','green');
                    }
                } else {
                    toastr["error"]("Imposible cambiar el estado", "Error");
                }
            });
        })
    });


    $(function () {
        $('#data_table').DataTable({
            select: true,
            ordering: true,
            columnDefs: [ { targets: 'no-sort', orderable: false }],
            language:{
                "url": "{{ asset('/assets/js/datatables/lang/es-ES.json') }}"
            }   
        });
    });

</script>
{% endblock %}